/* 
* reset 
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  color: #333;
}

:focus {
  outline: none;
}

ul, ol {
  list-style: none;
}

/* 
* component 
*/

/* todo-app */

.todo-app {
  margin: 100px auto 0;
  max-width: 550px;
}

.todo-app input::placeholder {
  color: #c3c3c3;
}
/* form-container */

.form-container {
  /* margin-bottom: 20px; */
}

/* new-todo */

.new-todo {
  width: 100%;
  font-size: 24px;
  padding: 16px 16px 16px 16px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ededed;
}

/* todo-list */

.todo-list ul {
}

.todo-list li {
  display: flex;
  align-items: center;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
  padding: 16px;
}

.todo-list li:last-child {
  border-bottom: none;
}

.todo-list li input[type="checkbox"] {
  width: 40px;
}

.todo-list li .text {
  flex-grow: 1;
}

.todo-list li.is-complete .text {
  opacity: .6;
}

.todo-list li .delete {
  width: 40px;
  color: #cc9a9a;
}

.todo-list li .delete:hover {
  cursor: pointer;
}

.todo-list li .checkbox {
  width: 40px;
}

.todo-list li .checkbox:hover {
  cursor: pointer;
}

/* footer */

.footer {
  color: #777;
  padding: 10px 15px;
  border-top: 1px solid #e6e6e6;
}