/* reset */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  background: #f5f5f5;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  font-weight: 300;
}

:focus {
  outline: none;
}

/* component */

.todo-app {
  background: #fff;
  margin: 130px 0 40px 0;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.todo-app input::placeholder {
}

.new-todo {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 24px;
  border: 0;
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
}

.todo-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.todo-list li {
  display: flex;
  align-items: center;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
  padding: 16px;
}

.todo-list li:last-child {
  border-bottom: none;
}

.todo-list li input[type="checkbox"] {
  width: 40px;
}

.todo-list li .text {
  flex-grow: 1;
}

.todo-list li.is-complete .text {
  opacity: .6;
}

.todo-list li .delete {
  width: 40px;
  color: #cc9a9a;
}

.todo-list li .delete:hover {
  cursor: pointer;
}

.todo-list li .checkbox {
  width: 40px;
}

.todo-list li .checkbox:hover {
  cursor: pointer;
}

.footer {
  color: #777;
  padding: 10px 15px;
  border-top: 1px solid #e6e6e6;
}


.trash-solid.icon {
  color: #000;
  position: absolute;
  margin-left: 5px;
  margin-top: 7px;
  width: 9px;
  height: 10px;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
  border-radius: 0 0 2px 2px;
  background-color: currentColor;
}

.trash-solid.icon:before {
  content: '';
  position: absolute;
  left: -4px;
  top: -2px;
  width: 17px;
  height: 1px;
  background-color: currentColor;
}

.trash-solid.icon:after {
  content: '';
  position: absolute;
  left: 0px;
  top: -5px;
  width: 7px;
  height: 2px;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
  border-top: solid 1px currentColor;
  background-color: currentColor;
  border-radius: 4px 4px 0 0;
}

