/* 
* var
*/
:root {
  /* color */
  --text-color: #333;
  --place-holder-color: #c3c3c3;
  --border-color: #c4c4c4;

  /* text */
  --line-height: 1.5;
  --font-family: sans-serif;
}

/* 
* reset 
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  font-family: var(--font-family);
  line-height: var(--line-height);
  color: var(--text-color);
}

input[type="text"] {
  font-family: var(--font-family);
}

:focus {
  outline: none;
}

ul, ol {
  list-style: none;
}

/* 
* component 
*/

/* todo-app */
.todo-app {
  margin: 100px auto 0;
  max-width: 550px;
}

.todo-app input::placeholder {
  color: var(--place-holder-color);
}

/* new-todo */
.new-todo {
  width: 100%;
  font-size: 24px;
  padding: 16px 16px 16px 16px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--border-color);
}

/* todo-list */
.todo-list li {
  display: flex;
  align-items: center;
  font-size: 24px;
  border-bottom: 1px solid var(--border-color);
  padding: 16px;
}

.todo-list li:last-child {
  border-bottom: none;
}

.todo-list li input[type="checkbox"] {
  width: 40px;
}

.todo-list li .text {
  flex-grow: 1;
}

.todo-list li.is-complete .text {
  opacity: .6;
}

.todo-list li .delete {
  width: 40px;
  color: #cc9a9a;
}

.todo-list li .delete:hover {
  cursor: pointer;
}

.todo-list li .checkbox {
  width: 40px;
}

.todo-list li .checkbox:hover {
  cursor: pointer;
}

.todo-list li input[type="text"] {
  border: none;
  font-size: inherit;
  line-height: inherit;
}

/* no-tasks */
.no-tasks {
  text-align: center;
  padding: 30px 0;
}

.no-tasks i {
  font-size: 60px;
  display: block;
  margin-bottom: 10px;
}

/* footer */
.footer {
  color: var(--text-color);
  padding: 10px 15px;
  border-top: 1px solid var(--border-color);
}